Repository hmedney-segment/schema, changes with the labels that .github/labeler.yml gives for each.
All labels: event-changed, tracking-plan-changed

add examples from segment spec
  events/cart-viewed.yaml
  events/checkout-started.yaml
Labels: event-changed

rename common plan to saas
  tracking-plans/saas.yaml
Labels: tracking-plan-changed

add an "All" tracking plan
  tracking-plans/all.yaml
Labels: tracking-plan-changed

add commerce tracking plan
  tracking-plans/commerce.yaml
Labels: tracking-plan-changed

update name
  tracking-plans/saas.yaml
Labels: tracking-plan-changed

fix nested props
  events/install-attributed.yaml
  events/push-notification-bounced.yaml
  events/push-notification-received.yaml
  events/push-notification-tapped.yaml
Labels: event-changed

reset to baseline
  events/account-added-user.yaml
  events/account-created.yaml
  events/video-ad-started.yaml
Labels: event-changed

Update commerce.yaml
  tracking-plans/commerce.yaml
Labels: tracking-plan-changed

Update all.yaml
  tracking-plans/all.yaml
Labels: tracking-plan-changed

Update commerce.yaml
  tracking-plans/commerce.yaml
Labels: tracking-plan-changed

Update all.yaml
  tracking-plans/all.yaml
Labels: tracking-plan-changed

Update saas.yaml
  tracking-plans/saas.yaml
Labels: tracking-plan-changed

Rename commerce.yaml to ecommerce.yaml
  tracking-plans/ecommerce.yaml
Labels: tracking-plan-changed

Update account-created.yaml
  events/account-created.yaml
Labels: event-changed

Delete coupon-applied.yaml
  events/coupon-applied.yaml
Labels: event-changed

Delete product-clicked.yaml
  events/product-clicked.yaml
Labels: event-changed

Create new-event.yaml
  events/new-event.yaml
Labels: event-changed

Update README.md
  README.md
Labels: none

Revert "Update account-created.yaml"
  events/account-created.yaml
  events/coupon-applied.yaml
  events/new-event.yaml
  events/product-clicked.yaml
Labels: event-changed

Update saas.yaml
  tracking-plans/saas.yaml
Labels: tracking-plan-changed

Update account-created.yaml
  events/account-created.yaml
Labels: event-changed

Revert "Demo change"
  events/account-created.yaml
Labels: event-changed

Update README.md
  README.md
Labels: none

Update checkout-started.yaml
  events/checkout-started.yaml
Labels: event-changed

Delete payment-info-entered.yaml
  events/payment-info-entered.yaml
Labels: event-changed

Create new-event.yaml
  events/new-event.yaml
Labels: event-changed

Revert "Demo PR"
  events/checkout-started.yaml
  events/new-event.yaml
  events/payment-info-entered.yaml
Labels: event-changed

Update account-created.yaml
  events/account-created.yaml
Labels: event-changed

Revert "Demo change"
  events/account-created.yaml
Labels: event-changed

change collection name to "Generic"
  events/object-created.yaml
  events/object-deleted.yaml
  events/object-updated.yaml
Labels: event-changed

.github/labeler.yml:

event-changed:
  - events/*

tracking-plan-changed:
  - tracking-plans/*
